<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{usr/common/layout}">
<head>
    <title>게시물 수정</title>
</head>

<main layout:fragment="main">
    <h1>게시물 수정</h1>
    <form action="doModify" method="POST">
        <input type="hidden" name="id" th:value="${article.id}">
        <div>
            <div>번호</div>
            <div>[[${article.id}]]</div>
        </div>
        <hr>
        <div>
            <div>작성날짜</div>
            <div>[[${article.regDate}]]</div>
        </div>
        <hr>
        <div>
            <div>제목</div>
            <div>
                <input tpye="text" name="title" placeholder="제목을 입력해주세요." th:value="${article.title}">
            </div>
        </div>
        <div>
            <div>내용</div>
            <div>
                <textarea name="body" placeholder="내용을 입력해주세요." th:text="${article.body}"></textarea>
            </div>
        </div>
        <div>
            <div>수정</div>
            <div>
                <input type="submit" value="수정">
            </div>
        </div>
    </form>
</main>
</html>